.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  tr{
    height: 130px;
  }



.mat-fab{
    width: 70px;
    height: 70px;
}

.box{
  width: 100%;
  height: 100%;            
  position: absolute;
  top: 0;
  left: 0;
}

.btnShow{
  z-index: 9;
}